#img_container {
  text-align: center;
}

img {
  padding: 25px;
}

body, html {
  height: 100%;
  font-family: 'Raleway', sans-serif;
}

hr {
  color: #a3a3a3;
}
.sealbgs {
  background-image: url("https://alex-web.dev/files/public-docs/sealbg_1.jpg");
  filter: blur(5px);
  -webkit-filter: blur(5px);
  height: 100%;
  background-position: center;
  background-size: cover;
}
.sealcontainment {
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0, 0.4);
  color: white;
  border: 3px solid #f1f1f1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  padding: 20px;
  text-align: center;
  width: 45%;
  margin-top: 25%;
}

#cssmenu,
#cssmenu ul,
#cssmenu ul li,
#cssmenu ul li a {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  line-height: 1;
  display: block;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#cssmenu:after,
#cssmenu > ul:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
#cssmenu {
  border-bottom: 3px solid #47c9af;
  line-height: 1;
  width: 48%;
  top: 15%;
  left: 26%;
  align-content: center;
  position: absolute;
}
#cssmenu ul {
  background: rgba(128, 128, 128, 0.5);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
#cssmenu > ul > li {
  float: left;
}
#cssmenu.align-center > ul {
  font-size: 0;
  text-align: center;
}
#cssmenu.align-center > ul > li {
  display: inline-block;
  float: none;
}
#cssmenu.align-right > ul > li {
  float: right;
}
#cssmenu.align-right > ul > li > a {
  margin-right: 0;
  margin-left: -4px;
}
#cssmenu > ul > li > a {
  z-index: 2;
  padding: 18px 25px 12px 25px;
  font-size: 15px;
  font-weight: 400;
  text-decoration: none;
  color: #ffffff;
  -webkit-transition: all .2s ease;
  -moz-transition: all .2s ease;
  -ms-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease;
  margin-right: -4px;
}
#cssmenu > ul > li.active > a,
#cssmenu > ul > li:hover > a,
#cssmenu > ul > li > a:hover {
  color: #ffffff;
}
#cssmenu > ul > li > a:after {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  width: 100%;
  height: 120%;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  content: "";
  -webkit-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease;
  -webkit-transform: perspective(5px) rotateX(2deg);
  -webkit-transform-origin: bottom;
  -moz-transform: perspective(5px) rotateX(2deg);
  -moz-transform-origin: bottom;
  transform: perspective(5px) rotateX(2deg);
  transform-origin: bottom;
}
#cssmenu > ul > li.active > a:after,
#cssmenu > ul > li:hover > a:after,
#cssmenu > ul > li > a:hover:after {
  background: #47c9af;
}

i#labs {
  color: #c300ff;
}

@media (max-width:954px)  { 
  #cssmenu {
    border-bottom: 3px solid #47c9af;
    line-height: 1;
    width: 25%;
    top: 10%;
    left: 38%;
    align-content: center;
    position: absolute;
  }

  .sealcontainment {
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.4);
    color: white;
    border: 3px solid #f1f1f1;
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    padding: 20px;
    text-align: center;
    width: 45%;
    margin-top: 25%;
  }
}
footer {
  background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.4);
    color: white;
    border: 3px solid #f1f1f1;
    position: absolute;
    margin-top: 40%;
    margin-left: 29%;
    width: 40%;
    z-index: 2;
    font-size: small;
    text-align: center;
}

@media (max-width:954px)  { 
  #cssmenu {
    border-bottom: 3px solid #47c9af;
    line-height: 1;
    width: 25%;
    top: 10%;
    left: 38%;
    align-content: center;
    position: absolute;
  }

  .sealcontainment {
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.4);
    color: white;
    border: 3px solid #f1f1f1;
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    padding: 20px;
    text-align: center;
    width: 45%;
    margin-top: 25%;
  }
}

#toTop {
  display: block;
  position: fixed;
  bottom: 20px;
  right: 20px;
  font-size: 48px;
}

#toTop {
  transition: all 0.5s ease 0s;
  -moz-transition: all 0.5s ease 0s;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  opacity: 0.5;
  display: none;
  cursor: pointer;
}

#toTop:hover {
  opacity: 1;
}

a {
  color: #7affe4
}